// Wide screen

@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
// Desktops & Laptops

@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
// Tablets

@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;

    .lg-heading {
      font-size: 4rem;
      line-height: 1;
      margin-bottom: 1rem;
    }

    .project-heading {
      font-size: 3rem;
    }
  }

  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: 
        padding-box,
        $linear-gradient border-box;
      border-radius: 50%;
      border: 3px solid transparent;
      width: calc(25vh - 30px);
      height: calc(25vh - 30px);
    }
  }

  .about-info {
    grid-template-areas: 
    'bioimage'
    'bio'
    'skillimage'
    'skills'
    'work-exp';
    grid-template-columns: 1fr;
  }

  .bio h3, .bio p {
    text-align: center;
  }

  .work-exp-display {
    grid-template-areas: 
    'job1'
    'job2';
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  #project1 {
    grid-template-areas: 
    'header'
    'pres'
    'video1'
    'text1'
    'video2'
    'text2'
    'icons';
    .text1 {
      text-align: center;
    }
  }
}
// Smarphone

@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}